@font-face {
   font-family: 'Ubuntu-Regular';
   font-display: swap;
   src: url('file:///C:/Users/lokot/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-20_182617/fonts/Ubuntu-Regular/font.ttf');
}
